@font-face{
    font-family: 'Monrserrat';
    src: url(../font/montserratalternates-regular-webfont.woff2) format('woff2');
}

/* container */
.profile{
    width: 156px;
    height: 156px;
    top: 60px;
    left: 641px;
    border-radius: 16px;
    color: #c4c4c4;;
}


/* header */
.header{

}


/* gallery */
.gallery .img1{
    display: grid;
    width: 350px;
    height: 578px;
    top: 272px;
    left: 219px;
    border-radius: 12px;
    background: url('photo1.png');

}
/* footer */